a {
  text-decoration: none;
  color: darkblue;
}

/* Classes for text properties examples */
.colored {
  background-color: lightgreen;
}
.decorated {
  border: 2px dashed blue;
  padding: 5px;
}
.indented {
  text-indent: 30px;
}
.aligned-center {
  text-align: center;
}
.transformed {
  text-transform: uppercase;
}
.spaced {
  letter-spacing: 2px;
  word-spacing: 5px;
}
.heightened {
  line-height: 3.8;
}
.shadowed {
  text-shadow: 2px 2px 4px gray;
}
.justified {
  text-align: justify;
  letter-spacing: 1px;
  line-height: 3px;
}
